*, *:before, *:after {
    box-sizing: border-box;
  }
body {
    
    background-color: #f5f5f5;
    background-image: url("./bg.jpg");
    
    
}
header {
    background: rgba(255,255,255,0.1);
    box-shadow: 0 15px 35px rgba(0,0, 0, 0, 0.05);
    
    backdrop-filter: blur(10px);
    
    border-bottom: 1px solid rgba(255,255,255,0.5);
    
    
}
.weather-h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 65px;
    
    color: rgba(70, 99, 101, 0.6)
    
}
.h3 {
    
    margin-top: 20px;
    margin-bottom: 20px
}
.todayCity {
    font-family: 'Sono', sans-serif;
    font-size: 40px;
    color: #7892a1;
    padding-top: 20px;
    
}
#today.content-exists {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
    
    box-shadow: 0 15px 35px rgba(0,0, 0, 0, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.09);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
     
}

/* search bar styling */
input[type=text] {
    background-color: rgba(255,255,255,0.2);
    border: 5px dotted rgba(255,255,255,0.4);
    backdrop-filter: blur(3px);
    margin-top: 20px;
    font-size: 30px;
    height: 60px;
    color: #fff;
    padding-left: 80px;
    width: 100%;
    border-radius: 100px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.09);
  }
/* search button styling */
.searchButton {
    background: #F8997E;
    border: none;
    height: 40px;
    margin-top: 30px;
    
    
    color: white;
    width: 100%;
    border-radius: 100px;
    transition: all 0.15s;
   
}
.searchButton:hover {
    
   
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.searchButton:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.city-button {
    border: none;
    background-color: #7892a1;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border-radius: 100px;
    transition: all 0.15s;
}
.city-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.city-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

  
/*card styling */
.card-img-top {
    max-width: 100px;
    max-height: 100px;
}
.card {
    background: rgba(255,255,255,0.09)!important;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    border-radius: 20px!important;
    box-shadow: 0 15px 35px rgba(0,0, 0, 0, 0.6)!important;
    border: 1px solid rgba(255,255,255,0.25)!important;
    border-top: 1px solid rgba(255,255,255,0.5)!important;
    border-left: 1px solid rgba(255,255,255,0.5)!important;
    backdrop-filter: blur(6px);
}
